@charset "UTF-8";
*{
	margin:0px;
	padding:0px;
}
body{
	width: 100%;
	height: 100%;
	background-color: #f8fff7;
}
/*整个内容框*/
.content{
	width: 97%;
	height: 100%;
	position: absolute;
	left: 0%;
	top: 0%;
	margin-top: 0px;
	margin-left: 20px;
}
/*显示目前所在位置*/
.address{
	width: 20%;
	height: 20px;
	position: absolute;
	/*margin-top: 10px;*/
	height: 30px;
	line-height: 30px;
}
.content_banner{
	width:99.88%;
	height: 25px;
	text-align: left;
	background-color: #12a686;
	margin-top: 34px;
	border:1px solid #00957C;
}
.content_banner font{
	font-size:14px;
	color:white;
	font-family:黑体;
	height: 25px;
	line-height:25px ;
	padding-left: 10px;
	white-space: nowrap;
}

/*搜索框*/
.search{
	width: 100%;
	height: 56px;
	/*border:1px #a9d7cd solid;*/
	/*margin-top: 0px;*/
	margin-bottom: 10px;
	background-color: white;
	font-family: 宋体;
	font-size: 12px;
	color: black;
}
.search div{
	
	display: inline;
	float: left;
	line-height: 56px;
	height: 56px;
}
.search input{
	width:80px;
	height: 20px;
	border-radius: 2px;
	border:1px solid #89d6c4;
}
a:link{
	text-decoration: none;
	font-size:14px;
	font-family:黑体;
	color:black;
}
a:hover{
	text-decoration: underline;
	font-size:14px;
	color:black;
	font-family:黑体;
}
a:visited{
	text-decoration: underline;
	font-size:14px;
	color:black;
	font-family:黑体;
}
.content table{
	width: 99.9%;
	border-collapse: collapse;
	height: auto;
	table-layout: fixed;/*2015.5.11新增固定table宽度*/
	/*margin-top:10px;*//*2015.5.11去掉上间距*/
	font-family: 宋体;
	color:#484949;
	font-size: 12px;
	border:1px #a9d7cd solid;
	overflow-y:scroll;
}
.content table tr td{
	text-align: center;
	width:80px;
	height: 40px;
}
.content a{
	font-family: 宋体;
	color:#484949;
	font-size: 12px;
}

#specialDiv{
	float: right;
	display: inline;
	margin-right: 10px;
	/* margin-top:25px; */
	/*2015.6.3控制按钮*/
	height: 25px;
	line-height: 25px;
	/*border:1px solid red;*/
}
#specialDiv img{
	vertical-align: middle;
	margin-top: -2px;
}

.content_table{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	height: 100%;

	
}
/*设置页码*/
.yema{
	width: 320px;
	text-align: right;
	float: right;
	margin-right: 24px;
	word-spacing: 2px;
}
.yema input{
	width: 51px;
	height: 22px;
	color:white;
	font-family: 宋体;
	font-size: 12px;
}
/*设置四个选项*/
#UL{
	width:232px;
	height: 30px;
	border:none;
	margin-left: 1px;
}
#UL tr td{
	width:58px;
	height:30px;
}
li{
	width:58px;
	height:30px;
	float: left;
	text-align:center;
	line-height: 30px;
	list-style-type: none;
	border:1px #A3E7D4 solid;
	border-bottom-style: none;
}

li a span{
	font-size: 12px;
	color: white;
	font-family: 宋体;
	display: block;
}
li a:hover{
	text-decoration: none;
}
