@charset "UTF-8";
*{
	margin:0px;
	padding:0px;
}
body{
	width: 100%;
	height: 100%;
	background-color: #f8fff7;
}
/*显示目前所在位置*/
.address{
	width: 100%;
	height: 20px;
	position: absolute;
	/*margin-top: 10px;*/
	margin-left: 15px;
	height: 30px;
	line-height: 30px;
	/*border:1px red solid;*/
}